<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <base href="../../">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <!-- <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons' rel="stylesheet"> -->
  <link href='../../components/google-fonts/roboto.css' rel="stylesheet">
  
  <link rel="stylesheet" href="modules/components-font-awesome\css\font-awesome.min.css">
  <link href="modules/@mdi/font/css/materialdesignicons.css" rel="stylesheet">
  <link href="modules/vuetify/dist/vuetify.min.css" rel="stylesheet">
 <!-- <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet"> -->

 <title><%= app.name %></title>
  <meta name="description" content="<%= app.description %>">
  <meta name="keywords" content="<%= app.keywords ? app.keywords.join(', ') : "" %>">
  <meta name="author" content="<%= ownerInfo.name %>">
  <% /* The following should be inside <head> tag! */ %>
  <% include ga.ejs %>

   
</head>

<body>
<div id="app"></div>


<script src="modules/ace-builds/src/ace.js"></script>

<script src="modules/ace-builds/src/ext-static_highlight.js"></script>

<script src="modules/ace-builds/src/mode-dps.js"></script>
<script src="modules/ace-builds/src/mode-csv.js"></script>
<script src="modules/ace-builds/src/mode-html.js"></script>
<script src="modules/ace-builds/src/mode-xml.js"></script>
<script src="modules/ace-builds/src/mode-text.js"></script>
<script src="modules/ace-builds/src/mode-javascript.js"></script>
<script src="modules/ace-builds/src/mode-json.js"></script>
<script src="modules/ace-builds/src/mode-dot.js"></script>
<script src="modules/ace-builds/src/theme-tomorrow.js"></script>



<script src="/js/es6-polyfill.js"></script>
<script src="/components/es6-module-loader/dist/es6-module-loader.src.js"></script>
<script src="/components/system.js/dist/system.src.js"></script>
<script>
  window.define = System.amdDefine.bind(System);
  window.require = window.requirejs = System.amdRequire.bind(System);
</script>










  <script src="modules/lodash/dist/lodash.js"></script>
  <script src="modules/vue/dist/vue.js"></script>
  <script>
      var user = <%- JSON.stringify(userInfo) %>;
      var author = <%- JSON.stringify(userInfo) %>;
      var defaultApp = "<%= app.defaultApp %>";
      var appId ="<%= app.id %>";
      var appName = "<%= app.name %>";
      // var initialConfig = <%- JSON.stringify(publicAppConfig) %>;
      // console.log(initialConfig)


      var _pages = [

        {
          "title": "Home",
          layout:"layout-1-2",
          "holders": {
            "Top": {
              "widgets": [
                  {
                    type:"mediator-widget", 
                    name:"noname",
                    icon:"mdi-language-javascript",
                    options: {
                      widget:{
                        visible: true
                      }
                    },
                    data:{
                      script:`
                      // console.log(
                      let w = 
                      this.$djvue.selectWidgets(
                          this.$root, 
                          item => item.config && item.config.id == "1"
                      )[0]
                      w.updateState({data:"//////////"})
                      w.setOption('widget.visible', false)
                      // )
                      // .template = "/////"
                      `
                    },
                    id:"Mediator"  
                  },
                  {
                    "type": "html-widget",
                    "name": "noname",
                    "icon": "mdi-language-html5",
                    "options": { widget:{
                        visible: true
                      }
                    },
                    "data": {
                      "source": "embedded",
                      "embedded": "Top"
                    },
                    "id": "1"
                  }
               ]
            },
            "Column 1": {
              "widgets": [
                  {
                    "type": "html-widget",
                    "name": "noname",
                    "icon": "mdi-language-html5",
                    "dataSelectEmitters" : ["Mediator", "3"],
                    "options": {widget:{
                        visible: true
                      }
                    },
                    "data": {
                      "source": "embedded",
                      "embedded": "Column 1"
                    },
                    "id": "2"
                  }
               ]
            },
            "Column 2": {
              "widgets": [
                  {
                    "type": "html-widget",
                    "name": "noname",
                    "icon": "mdi-language-html5",
                    "dataSelectEmitters" : "Mediator",
                    "options": {widget:{
                        visible: true
                      }
                    },
                    "data": {
                      "source": "embedded",
                      "embedded": "Column 2"
                    },
                    "id": "3"
                  }
               ]
            }
          }        

        },

        {
          "id": "1",
          "title": "Next page",
          layout:"layout-1",
          "holders": {
            "Holder": {
              "widgets": [
                  {
                    "type": "html-widget",
                    "name": "noname",
                    "icon": "mdi-language-html5",
                    "options": {widget:{
                        visible: true
                      }
                    },
                    "data": {
                      "source": "embedded",
                      "embedded": "Another page Holder"
                    },
                    "id": "4"
                  }
               ]
            }
          }  
        }
      ]

      var initialConfig = _pages

  </script>



  <script src="modules/vuex/dist/vuex.js"></script>
  <script src="modules/vuetify/dist/vuetify.js"></script>
  <script src="modules/browser-vue-loader/dist/browser-vue-loader.js"></script>
  <script src="modules/vue-router/dist/vue-router.js"></script>
  <script src="modules/vuedl/dist/vuedl.js"></script>


  <script src="modules/axios/dist/axios.min.js"></script>



   <script src="modules/echarts/dist/echarts.min.js"></script>

 







<script>
  Vue.use(Vuetify)

var router = new VueRouter({
  // hashbang: false,
  // mode: 'history',
  routes:[]
})


  loadVue('djvue/djvue-app.vue').then(App => {
    new Vue({
      router,
      render: h => h(App)
    }).$mount('#app')
  })

</script>




</body>
</html>







